services:
 db:
   image: postgres:17
   environment:
     POSTGRES_DB: ${DATABASE_NAME}
     POSTGRES_USER: ${DATABASE_USERNAME}
     POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
   ports:
     - "5432:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
   healthcheck:
     test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME}"]
     interval: 10s
     timeout: 5s
     retries: 5
   env_file:
     - .env
 
 web:
   build: .
   command:  >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
   container_name: papo
   ports:
     - "8000:8000"
   depends_on:
     db:
      condition: service_healthy
   develop:
     watch: 
       - action: sync
         path: .
         target: /app
         initial_sync: true
       - action: rebuild
         path: uv.lock
   environment:
     DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
     DEBUG: ${DEBUG}
     DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
     DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
     DATABASE_NAME: ${DATABASE_NAME}
     DATABASE_USERNAME: ${DATABASE_USERNAME}
     DATABASE_PASSWORD: ${DATABASE_PASSWORD}
     DATABASE_HOST: ${DATABASE_HOST}
     DATABASE_PORT: ${DATABASE_PORT}
     FERNET_KEY: ${FERNET_KEY}
   env_file:
     - .env

 redis:
   image: redis:7
   ports:
     - "6379:6379"

volumes:
   postgres_data: