{% extends "base.html" %}

{% block styles %}
<style>
    body {
        background: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .error-message {
        color: #dc2626;
        /* Red-600 */
        font-size: 0.875rem;
        /* text-sm */
        margin-top: 0.25rem;
        /* mt-1 */
    }
</style>
{% endblock %}

{% block content %}
<main class="flex-grow flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md">
        <div class="bg-white py-8 px-6 border-2 border-black shadow-[3px_3px_0_0_#000] hover:-translate-y-1 rounded-lg">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold text-black">Mudar senha</h2>
                <p class="text-black mt-2">Preencha os campos com uma nova senha</p>
            </div>
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="old_password" class="block text-sm font-medium text-gray-800 mb-1">Senha Antiga</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-lock text-gray-800"></i>
                        </div>
                        <input type="password" name="old_password" id="old_password" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Digite sua senha antiga">
                        <button type="button" id="toggleOldPassword"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 focus:outline-none">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <label for="new_password1" class="block text-sm font-medium text-gray-800 mb-1">Nova Senha</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-lock text-gray-800"></i>
                        </div>
                        <input type="password" name="new_password1" id="new_password1" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Digite sua senha">
                        <button type="button" id="togglePassword1"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 focus:outline-none">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <label for="new_password2" class="block text-sm font-medium text-gray-800 mb-1">Confirmar Nova Senha</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-lock text-gray-800"></i>
                        </div>
                        <input type="password" name="new_password2" id="new_password2" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Confirme sua senha">
                        <button type="button" id="togglePassword2"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 focus:outline-none">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="mt-1 text-sm text-red-600 text-center">
                                {{ message }}
                            </div>
                        {% elif message.tags == 'success' %}
                            <div class="mt-1 text-sm text-green-600 text-center">
                                {{ message }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div>
                    <button type="submit"
                        class="w-full flex justify-center py-3 px-4 border-2 border-black shadow-[3px_3px_0_0_#000] rounded-full text-sm font-bold text-black bg-emerald-300 hover:bg-emerald-500 focus:shadow-[0px_0px_0_0_#000] focus:translate-y-1 focus:translate-x-1">
                        Mudar senha
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
{% include 'footer.html' %}
<script>
    function setupPasswordToggle(inputId, buttonId) {
        const toggleButton = document.getElementById(buttonId);
        if (toggleButton) {
            toggleButton.addEventListener('click', function () {
                const passwordInput = document.getElementById(inputId);
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        }
    }
    setupPasswordToggle('old_password', 'toggleOldPassword');
    setupPasswordToggle('new_password1', 'togglePassword1');
    setupPasswordToggle('new_password2', 'togglePassword2');

    document.addEventListener('DOMContentLoaded', function() {
        const successMessage = document.querySelector('.success-message');
        if (successMessage) {
            // Se houver mensagem de sucesso, redireciona após 3 segundos
            setTimeout(function() {
                window.location.href = "{% url 'home' %}";
            }, 3000);
        }
    });
</script>
{% endblock %}