{% extends "base.html" %}
{% load static %}

{% block content %}
<wrapper class="grid grid-cols-3 mx-auto">
    <!-- Lista de conversas -->
    {% include 'chat-list.html' %}
    <!-- Container principal do chat -->
    <div id="chat-window" class="col-span-2 h-[45rem] flex flex-col bg-white relative overscroll-contain">
        <!-- Cabeçalho do chat -->
        <div class="flex justify-center bg-emerald-300 sticky top-0 z-10">
            <a href="{% url 'profile' other_user.username %}">
                <div class="flex items-center gap-3 p-2">
                    <img class="w-10 h-10 rounded-full object-cover" src="{% static 'img/profile-pic.png' %}">
                    <div>
                        <span class="font-bold text-black text-2xl">{{ other_user.username }}</span>
                    </div>
                </div>
            </a>
        </div>
        <!-- Área de mensagens -->
        <div id='chat_container' class="overflow-y-auto grow">
            <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                {% for message in chat_messages reversed %}
                    {% if message.author == user %}
                    <li>
                        <div class="flex justify-end">
                            <div class="bg-black text-white rounded-l-lg rounded-lg p-2 max-w-[75%]">
                                <span>{{ message.body }}</span>
                            </div>
                        </div>
                        <span class="flex justify-end text-xs text-gray-500 mt-1">{{ message.created_at|time:"H:i" }}</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="flex justify-start">
                            <div class="bg-emerald-300 p-2 max-w-[75%] rounded-lg">
                                <span>{{ message.body }}</span>
                            </div>
                        </div>
                        <span class="text-xs text-gray-500 mt-1">{{ message.created_at|time:"H:i" }}</span>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- Envio de Mensagens -->
        <div class="sticky bottom-0 bg-white p-2 border-t-2 border-black">
            <div class="flex gap-2">
                <textarea id="chat-message-input"
                    class="flex-1 px-4 py-2 bg-white text-black rounded-full focus:outline-none focus:ring-2 focus:ring-emerald-400 resize-none"
                    placeholder="Mensagem..." rows="1"></textarea>
                <button id="chat-message-submit"
                    class="px-4 py-2 bg-black text-white rounded-full hover:bg-emerald-400 self-end">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    {{ chat_uuid|json_script:"chat_uuid" }}
</wrapper>
{% endblock %}

{% block javascript %}
<script id="current-id" type="application/json">{{ user.id|escapejs }}</script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/online.js' %}"></script>
{% endblock%}