{% extends "base.html" %}
{% load static %}

{% block styles %}
<style>
    body {
        background: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .card {
        border: black 2px solid;
        background-color: white;
        box-shadow: 3px 3px 0 0 #000;
        border-radius: 8px;
    }

    .avatar:hover {
        transform: scale(1.05);
    }

    .stats-card:hover {
        transform: translateY(-3px);
    }
</style>
{% endblock %}

{% block content %}
<main class="flex-grow py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-xl mx-auto">
        <!-- Card de Perfil -->
        <div class="card overflow-hidden">
            <!-- Cabeçalho do perfil -->
            <div class="bg-emerald-300 h-32 relative">
                <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2">
                    <div class="avatar relative">
                        <img class="w-32 h-32 rounded-full border-2 border-black shadow-[3px_3px_0_0_#000] object-cover" src="{% static 'img/profile-pic.png' %}">
                        {% if user.status.online_status %}
                        <div
                            id="ws-profile" data-profile-id="{{ user.id }}" class="absolute bottom-2 right-2 bg-emerald-400 w-6 h-6 rounded-full border-2 border-white">
                        </div>
                        {% else %}
                        <div id="ws-profile" data-profile-id="{{ user.id }}" class="hidden" title="Offline"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Informações do usuário -->
            <div class="mt-4 pt-16 pb-8 px-6 text-center">
                <h2 class="text-3xl font-bold text-black">@{{ user.username }}</h2>
                <div class="mt-1 flex justify-center space-x-4">
                    <div class="flex items-center text-gray-800">
                        <i class="far fa-calendar-alt mr-2"></i>
                        <span>Membro desde {{ user.date_joined|date:"SHORT_DATE_FORMAT"}}</span>
                    </div>
                </div>
                <!-- Botão de enviar mensagem -->
                {% if not request.user.username == user.username %}
                <div>
                    <form method="POST" action="{% url 'start-chat' user.username %}">
                        {% csrf_token %}
                        <button type="submit" class="mt-6 justify-center p-4 px-8 border-2 border-black shadow-[3px_3px_0_0_#000] rounded-full text-sm font-bold text-black bg-emerald-300 hover:bg-emerald-500 focus:shadow-[0px_0px_0_0_#000] focus:translate-y-1 focus:translate-x-1">
                        <i class="fa-solid fa-paper-plane mr-2"></i>
                        Enviar Mensagem
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            <!-- Configurações -->
            {% if request.user.username == user.username %}
            <div class="grid justify-center px-6 pb-8">
                <p class="text-center text-base font-bold mt-4">Configurações</p>
                <div>
                    <a href="{% url 'update-password' %}" 
                    class="block px-4 py-3 text-base border-b-2 border-gray-300 hover:underline hover:decoration-emerald-300 hover:decoration-2">
                        <div class="flex justify-center gap-2">
                            <span>Mudar senha</span>
                        </div>
                    </a>
                    <a href="{% url 'token' %}" 
                    class="block px-4 py-3 text-base border-b-2 border-gray-300 hover:underline hover:decoration-emerald-300 hover:decoration-2">
                        <div class="flex justify-center gap-2">
                            <span>Ver token de segurança</span>
                        </div>
                    </a>
                    <form action="{% url 'delete-user' %}" method="post" class="block">
                        {% csrf_token %}
                        <button type="submit" class="w-full px-4 py-3 text-base hover:underline hover:decoration-red-500 hover:decoration-2"
                        onclick="return confirm('Você tem certeza que deseja deletar sua conta? Todas as conversas serão perdidas permanentemente!')">
                            <div class="flex justify-center gap-2">
                                <span class="text-red-500">Deletar conta</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script id="current-id" type="application/json">{{ request.user.id|escapejs }}</script>
<script src="{% static 'js/online-profile.js' %}"></script>
{% endblock %}