{% extends "base.html" %}
{% load static %}

{% block content %}
<wrapper class="grid grid-cols-3 mx-auto">
    <!-- Lista de conversas -->
    {% include 'chat-list.html' %}
    <!-- Pesquisa de usuários -->
    <div id="chat-window" class="flex flex-col col-span-2 bg-white relative h-[45rem]">
        <div class="flex flex-col items-center text-black h-full space-y-2">
            {% if user_list %}
                <div class="flex p-3 bg-white sticky top-0 z-10">
                    <h2 class="text-2xl font-bold text-black">Resultados</h2>
                </div>
                <div class="flex flex-col space-y-2 overflow-y-auto grow">
                    {% for user in user_list %}
                        <a href="{% url 'profile' user.username %}">
                            <div class="flex items-center font-medium gap-2 p-2 hover:bg-emerald-300 rounded-lg z-0">
                                <img class="w-10 h-10 rounded-full object-cover" src="{% static 'img/profile-pic.png' %}">
                                {{ user.username }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
            <h2 class="text-2xl font-bold text-black">Nenhum resultado encontrado :&#40;</h2>
            <form method="get" class="flex flex-col items-center space-y-2">
                <input type="text" name="username" value="{{ request.GET.query }}" autocomplete="off" class="text-center py-3 px-4 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300">
                <input class="flex justify-center py-3 px-4 border-2 border-black shadow-[3px_3px_0_0_#000] rounded-full text-sm font-medium text-black bg-emerald-300 hover:bg-emerald-500 focus:shadow-[0px_0px_0_0_#000] focus:translate-y-1 focus:translate-x-1" type='submit' value="Pesquisar">
            </form>
            {% endif %}
        </div>
    </div>
</wrapper>
{% include "footer.html" %}
{% endblock %}

{% block javascript %}
<script id="current-id" type="application/json">{{ request.user.id|escapejs }}</script>
<script src="{% static 'js/online.js' %}"></script>
{% endblock %}
