<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>papo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="min-h-screen flex flex-col">
    <header class="bg-white text-black border-b-2 border-black">
        <div class="container mx-auto px-4 py-4">
            <div class="flex items-center justify-between">
                <!-- Logo/Título -->
                <div class="flex-shrink-0">
                    <h1 class="text-2xl font-medium"><a href="{% url 'home'%}">papo</a></h1>
                </div>
                <!-- Menu de Navegação -->
                <nav class="flex items-center space-x-4">
                    <!-- Links de Login e Cadastro -->
                    <div class="hidden md:flex items-center space-x-2">
                        {% if request.user.is_authenticated %}
                        <p class="text-sm font-medium">Olá, {{ request.user.username }}!</p>
                        <a href="{% url 'profile' request.user.username %}"
                            class="block px-4 py-2 text-sm font-medium hover:bg-emerald-300 rounded-full">Perfil</a>
                        <a href="{% url 'home' %}"
                            class="block px-4 py-2 text-sm font-medium hover:bg-emerald-300 rounded-full">Conversas</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit"
                                class="block px-4 py-2 text-sm font-medium hover:bg-red-600 hover:text-white hover:rounded-full text-red-600">Sair</button>
                        </form>
                        {% else %}
                        <a href="{% url 'login' %}"
                            class="px-3 py-2 text-sm font-medium hover:bg-emerald-500 rounded-full">
                            Login
                        </a>
                        <a href="{% url 'signup' %}"
                            class="px-3 py-2 text-sm font-medium bg-emerald-300 hover:bg-emerald-500 rounded-full">
                            Cadastrar
                        </a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="flex-grow flex items-center justify-center bg-emerald-300 p-4">
        <div class="w-full max-w-md">
            <div
                class="bg-white py-8 px-6 border-2 border-black shadow-[3px_3px_0_0_#000] hover:-translate-y-1 rounded-lg text-center">
                <h2 class="text-3xl font-bold text-black mb-2">Poxa...</h2>
                <p class="text-gray-800">Você achou uma falha nossa :(</p>
                <p class="text-gray-500">500 Internal Server Error</p>
            </div>
        </div>
    </main>
    <footer class="bg-white border-t-2 border-black py-4 mt-auto">
        <div class="container mx-auto px-4 text-center">
            <div class="mt-1 flex justify-center space-x-4 mb-2">
                <a href="https://github.com/ma-alves"
                    class="flex items-center space-x-2 text-black hover:underline hover:decoration-2 hover:decoration-emerald-300"
                    target="_blank" rel="noopener noreferrer">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="size-6 fill-black">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z">
                        </path>
                    </svg>
                    <span>ma-alves</span>
                </a>
            </div>
            <p class="text-gray-600">2025 papo</p>
        </div>
    </footer>
</body>

</html>