name: tests
on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DEBUG: True
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      DJANGO_ALLOWED_HOSTS: localhost,127.0.0.1,0.0.0.0
      DJANGO_LOGLEVEL: info
      DATABASE_NAME: papo
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      DATABASE_PORT: 5432
      REDIS_HOST: localhost
      FERNET_KEY: ${{ secrets.FERNET_KEY }}

    services:
      db:
        image: postgres:17
        env:
          POSTGRES_DB: papo
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      redis:
        image: redis:7
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v5

      - name: Instalar Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Instalar uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Instalar dependências e projeto
        run: uv sync --locked --all-extras --dev

      - name: Executar migrações
        run: uv run python manage.py migrate

      - name: Executar testes
        run: uv run python manage.py test